<h1 class='text-center'>title</h1>

<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Sequi quia voluptatem, laboriosam maxime fuga
    harum explicabo excepturi. Culpa temporibus consequatur
    odit obcaecati, quidem architecto impedit, veniam
    <span id='text-2'>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Quo, sunt.
    </span>
    commodi velit perferendis provident.</p>
</div>

<div class='btn-group m-3'>
  <div class='btn btn-primary'>btn
    <span id='btn_span'>1</span></div>
  <div class='btn btn-outline-primary'>btn 2</div>
  <div class='btn btn-primary'>btn 3</div>
</div>

<ul id='list'>
  <li id='list_item'>one</li>
  <li id='list_item'>two</li>
  <li id='list_item_2'>three</li>
</ul>

<section>
  <h2>title</h2>
  <p>Lorem ipsum dolor sit amet.</p>
  <em id='section_text'>Lorem, <span>5</span> ipsum.</em>
</section>