<main class='p-4'>

  <div class='card p-4'>
    <p class='p1'>
      Hello world!
    </p>
    <hr />
    <p class='p2'>
      Hello world!
    </p>
    <hr />
    <p class='p3'>
      Hello world!!!
    </p>
    <hr />
    <p class='p4'>
      Hello world!!! My name is Vasyl.
    </p>
    <hr />
    <p class='p5'>
      Hello world!!! My name is Vasyl.
    </p>
  </div>

</main>