<div>
  {{#with main}}
  <main>
    {{> title data="My education" big=true}}
    <ul>
      {{#each education}}
        <li>
          {{name}}
          {{#unless isEnd}} (ще в процесі) {{/unless}}
        </li>
      {{/each}}
    </ul>
        {{> title data="My certificates"}}
    <ul>
      {{#each certificates}}
        <li>
          {{name}}
          {{#if id}}, ID: {{/if}}
          {{id}}
        </li>
      {{/each}}
    </ul>
  </main>
  {{/with}}
</div>