{{! <h1 class='text-center'>title</h1>

<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Sequi quia voluptatem, laboriosam maxime fuga
    harum explicabo excepturi. Culpa temporibus consequatur
    odit obcaecati, quidem architecto impedit, veniam
    <span id='text-2'>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Quo, sunt.
    </span>
    commodi velit perferendis provident.</p>
</div>

<div class='btn-group m-3'>
  <div class='btn btn-primary'>btn
    <span id='btn_span'>1</span></div>
  <div class='btn btn-outline-primary'>btn 2</div>
  <div class='btn btn-primary'>btn 3</div>
</div>

<ul id='list'>
  <li id='list_item'>one</li>
  <li id='list_item'>two</li>
  <li id='list_item_2'>three</li>
</ul>

<section>
  <h2>title</h2>
  <p>Lorem ipsum dolor sit amet.</p>
  <em id='section_text'>Lorem, <span>5</span> ipsum.</em>
</section>

<div class='card p-3 m-3 card-dark'>
  <ul>
    <li class='item item-first'>first</li>
    <li class='item'>second</li>
    <li class='item'>third</li>
    <li class='item'>last</li>
  </ul>
  <ul>
    <li class='item item-first'>only</li>
  </ul>
</div>

<div class='card card-dark'>
  <h6>first h6</h6>
  <p>first p.</p>
  <p>second p</p>
  <p>last p.</p>
  <s>first and only s</s>
</div>

<div class='card card-blue'>
  <ul>
    <li class='item'>first</li>
    <li class='item'>second</li>
    <li class='item'>third</li>
    <li class='item'>last</li>
  </ul>
  <ul>
    <li class='item_2 item-first'>only</li>
  </ul>
</div>

<div class='card p-3 m-3 card-dark'>
  <input
    type='text'
    class='input-dark'
    required
    placeholder='text'
  />
  <input
    type='text'
    class='input-dark'
    placeholder='text'
  />
  <input
    type='number'
    class='input-dark'
    placeholder='text'
  />
</div>

<div class='card p-3 m-3 card-dark img'>
  <img
    src='https://picsum.photos/id/42/800/1800'
    alt='coffee small card 100px'
    height='200px'
    width='200px'
    class='small-img'
  />
  <img
    src='https://picsum.photos/id/42/800/1800'
    alt='coffee small card 200px'
    height='300px'
    width='200px'
    class='small-img'
  />
</div>

<div class='card p-3 m-3 card-dark'>
  <button class='btn'>click me!</button>
  <br />
  <button class='btn btn-primary'>click me!</button>
  <br />
  <a class='secondary'>click me!</a>
  <br />
  <button class='btn btn-warning'>click me!</button>
  <br />
  <button class='btn btn-warning btn-success'>click me!</button>
  <br />
</div> }}

{{! <div class='card p-3 m-3 card-red'>
  <button class='btn btn-danger'>click me!</button>
  <button class='btn btn-info'>click me!</button>
</div>

<div class='card p-3 m-3 card-red'>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Ad provident maxime reiciendis eius praesentium
    iure et rem animi! Cum officiis odit est doloribus natus
    consequatur soluta dolore, ipsum blanditiis quaerat?</p>
</div>

<div class='card p-3 m-3 card-red'>
  <input type='EMAIL' placeholder='EMAIL' />
  <p id='quote'>Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Culpa atque hic perferendis repellat,
    cupiditate aperiam autem dicta laboriosam officia
    nostrum neque est odio rerum, dolore nihil, provident
    quam vitae! Dignissimos vitae iure repellat minima
    laudantium laborum dolorum voluptas. Placeat, eligendi.</p>
</div> }}

<section>
  <div class='card p-3 m-3'>
    <a href='#anchor'>anchor</a>
  </div>
  <div id='anchor' class='card p-3 m-3'>
    anchor target
  </div>
  <div class='card p-3 m-3 card-red'>
    <a
      href='https://www.google.com.ua/asdw'
      class='link'
    >anchor</a>
  </div>
  <div class='card p-3 m-3'>
    <button class='btn btn-secondary hover'>before</button>
  </div>
  <div class='card p-3 m-3'>
    <input
      type='text'
      name='text'
      id=''
      class='input'
      placeholder='Enter your password'
    />
  </div>
  .input_two:read-only { background-color: #004871; color:
  #72ff75; }
  <div class='p-3 m-3'>
    <button class='btn btn-success enable'>test btn enabled</button>
    <button class='btn btn-success disabled' disabled>test
      btn disabled</button>
  </div>
  <div class='card p-3 m-3'>
    <input
      type='text 2'
      name='text 2'
      id=''
      class='input_one'
      placeholder='Read-write'
    />
    <input
      type='text 2'
      name='text 2'
      id=''
      class='input_two mt-1'
      placeholder='Readonly'
      readonly
    />
  </div>
  <div class='card p-3 m-3'>
    <div>
      <input type='checkbox' class='check' checked />
      <span>first</span>
    </div>
    <div>
      <input type='checkbox' class='check' />
      <span>second</span>
    </div>
    <div>
      <input type='checkbox' class='check' />
      <span>third</span>
    </div>
  </div>
  <div class='card p-3 m-3'>
    <input
      type='email'
      class='valid mb-1'
      placeholder='email'
      required
    />
    <input
      type='email'
      class='valid mb-1'
      placeholder='email'
      required
    />
    <input
      type='text'
      class='valid mb-1'
      placeholder='login'
    />
    <input
      type='number'
      class='number mb-1'
      placeholder='number'
      min='2'
      max='6'
    />
  </div>
</section>