<html>
  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link rel='manifest' href='fav/site.webmanifest' />
    <link rel='stylesheet' href='css/normalize.css' />
    <link href='css/slack.css' rel='stylesheet' />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />
  </head>

  <body>

    <div class='page'>
      <section class='page_section'>
        <div class='page_content hero_section'>
          <div class='hero'>

            <div class='hero_content'>
              <span class='hero_label'>Slack Features
              </span>
              <h1 class='hero_title'>One platform for your
                team and your work</h1>
              <p class='hero_info'>All the features of Slack
                work together so you can, too.</p>
              <div class='hero_buttons'>
                <a href='' class='button button_prm'>Try for
                  free</a>
                <a href='' class='button button_snd'>See all
                  features</a>
              </div>
              <img
                src='/images/hero.png'
                alt='hero_img'
                class='hero_img'
              />
            </div>

          </div>

          <div class='hero_brands'>
            <img
              src='/images/brands/airbnb.png'
              alt='airbnb'
              class='brand_img'
            />
            <img
              src='/images/brands/target.png'
              alt='target'
              class='brand_img'
            />
            <img
              src='/images/brands/uber.png'
              alt='uber'
              class='brand_img'
            />
            <img
              src='/images/brands/onemedical.png'
              alt='onemedical'
              class='brand_img'
            />
            <img
              src='/images/brands/newscorp.png'
              alt='newscorp'
              class='brand_img'
            />
            <img
              src='/images/brands/us-department.png'
              alt='us-department'
              class='brand_img'
            />
            <img
              src='/images/brands/intuit.png'
              alt='intuit'
              class='brand_img'
            />
            <img
              src='/images/brands/sonos.png'
              alt='sonos'
              class='brand_img'
            />
          </div>

        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content features_section'>
          <div class='feat_header'>
            <h2 class='title'>
              Work more easily with everyone
            </h2>
            <p class='text'>
              Stay on the same page and make decisions
              faster by bringing all of your work
              communication into one place.
            </p>
          </div>
          <div class='feat_grid'>
            <div class='card card_big'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-0.png');"
              ></span>
              <strong class='card_title'>Slack Connect</strong>
              <p class='card_text'>Collaborate with teams at
                other companies the same way you do with
                teams at your own.</p>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-1.png');"
              ></span>
              <strong class='card_title'>Channels</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-2.png');"
              ></span>
              <strong class='card_title'>Huddles</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-3.png');"
              ></span>
              <strong class='card_title'>Clips</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-4.png');"
              ></span>
              <strong class='card_title'>Canvas</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-5.png');"
              ></span>
              <strong class='card_title'>Messaging</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-6.png');"
              ></span>
              <strong
                class='card_title'
              >Accessibility</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
          </div>
        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content need_section'>

          <div class='need_header'>
            <h2 class='title'>
              What you need, when you need it
            </h2>
            <p class='text'>
              Spend less time shuffling tabs with a
              comprehensive message archive and all your
              work tools at your fingertips.
            </p>
          </div>

          <div class='need_grid'>
            <div class='card card_big'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-10.png');"
              ></span>
              <strong class='card_title'>Apps and
                Integrations</strong>
              <p class='card_text'>
                Streamline work by connecting Slack with
                other services like Google Drive, Office 365
                and over 2,200 more.
              </p>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card card_big'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-11.png');"
              ></span>
              <strong class='card_title'>Workflow Builder</strong>
              <p class='card_text'>
                Automate routine actions and communication,
                so you can get back to the kind of work only
                humans can do.
              </p>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-12.png');"
              ></span>
              <strong class='card_title'>Apps and
                Integrations</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/images/slacksvg/vector-13.png');"
              ></span>
              <strong class='card_title'>Apps and
                Integrations</strong>
              <a
                href='#'
                class='icon arrow_icon feat_link'
              ></a>
            </div>
          </div>

        </div>
      </section>

      <section class='page_section'>
        <div class='page_content quote_section'>
          <div class='quote_big_card'>
            <img
              src='/images/img-deliveroo.png'
              alt=''
              class='quote_card_img'
            />
            <div class='quote_card'>
              <blockquote class='quote_text'>“The thing that
                keeps us connected the most is Slack. It’s a
                very immediate and straightforward method of
                communication, and really the only channel
                that people prefer and enjoy using.”</blockquote>
              <img
                src='/images/slacksvg/deliveroo.png'
                alt='deliveroo_img'
                style='height: 40px; width: 140px'
              />
              <p class='quote_sub'>Will Sprunt, CIO,
                Deliveroo</p>
            </div>
          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content explore'>
          <div class='explore_header'>
            <h3 class='title'>
              Explore more about working in Slack
            </h3>
          </div>
          <div class='explore_grid'>
            <div class='explore_card'>
              <figure class='explore_fig'>
                <img
                  src='/images/slack-101.png'
                  alt=''
                  style='width:100%'
                />
                <figcaption class='explore_caption'>
                  <p class='explore_card_subtitle'>
                    Slack Tutorials
                  </p>
                  <h4 class='text'>
                    Slack 101
                  </h4>
                </figcaption>
              </figure>

              <div class='explore_card_link'>
                <a href='#'>Learn more</a>
                <a
                  href='#'
                  class='icon arrow_icon_blue feat_link'
                ></a>
              </div>
            </div>
            <div class='explore_card'>
              <figure class='explore_fig'>
                <img
                  src='/images/slack-102.png'
                  alt=''
                  style='width:100%'
                />
                <figcaption class='explore_caption'>
                  <p class='explore_card_subtitle'>
                    Slack vs. Email
                  </p>
                  <h4 class='text'>
                    An easier, more organized way to work
                  </h4>
                </figcaption>
              </figure>

              <div class='explore_card_link'>
                <a href='#'>Learn more</a>
                <a
                  href='#'
                  class='icon arrow_icon_blue feat_link'
                ></a>
              </div>
            </div>
            <div class='explore_card'>
              <figure class='explore_fig'>
                <img
                  src='/images/slack-103.png'
                  alt=''
                  style='width:100%'
                />
                <figcaption class='explore_caption'>
                  <p class='explore_card_subtitle'>
                    Customer Stories
                  </p>
                  <h4 class='text'>
                    How Fastly uses Slack Connect to wow
                    enterprise customers
                  </h4>
                </figcaption>
              </figure>

              <div class='explore_card_link'>
                <a href='#'>Learn more</a>
                <a
                  href='#'
                  class='icon arrow_icon_blue feat_link'
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

  </body>
</html>