<div>
  {{#with main}}
    <main>
      <section>
        {{> title data="Work history" big=true}}
        <hr>
        <div>
          <ul>
            {{#each works}}
              <li>
                {{>workplace}}
              </li>
              <br>
            {{/each}}
          </ul>
        </div>
      </section>
    </main>
  {{/with}}
</div>