@import url('./assets/var.css');

@font-face {
  font-family: 'Segment';
  src: url('/public/font/Segment-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Segment';
  src: url('/public/font/Segment-SemiBold.otf');
  font-weight: 500;
}

@layer normalize, main, secondary, style;

@keyframes button-border {
  from {
    color: var(--text-color);
  }
  to {
    color: var(--color-primary);
  }
}
/* //////////////////////////////////////////////////////// */
.page {
  background-color: #fff;
  padding: 0 15px;

  display: flex;
  justify-content: center;
  background-image: url(/public/images/wallhaven-weq8y7.png);
}
.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
@layer main {
  .button {
    display: inline-block;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: var(--space-m);
    font-size: var(--text-size-m);
  }
}

/* //////////////////////////////////////////////////////// */
.header {
  padding: var(--space-l) 0;
  border-bottom: var(--border-bottom-top);
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  background-color: #fff;
  z-index: 6;
}

.logo {
  font-size: 17px;
  background-color: #0066ff;
  color: #fff;

  border-radius: calc(var(--space-s) / 2);
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_link {
  color: var(--text-color);
  font-size: var(--text-size-m);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  /* color: var(--color-primary);
  text-decoration: underline; */
  animation-name: button-border;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  flex-direction: column;
  gap: var(--space-xm);
}
/* //////////////////////////////////////////////////////// */
.hero {
  display: flex;
  align-items: center;
  gap: var(--space-xxl);
  padding-bottom: var(--space-xxl);
  border-bottom: var(--border-bottom-top);
}
.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
.hero_title {
  font-size: 50px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 120%;
}
.hero_text {
  color: var(--text-color);
  font-size: var(--text-size-l);
  font-weight: var(--font-w-400);
  line-height: 170%;
}
.hero_img {
  z-index: 2;
  width: 500px;
  border-radius: var(--border-radius);
  transform: scale(1, 1);
  transition: transform 1s ease;
  transition-delay: 0.5s;
}
.hero_img:hover {
  transform: scale(1.1, 1.1);
}
.hero_slider_icon {
  background-color: var(--color-primary);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;

  position: absolute;
  /* fixed (to browser screen) */
  top: calc(50% - 15px);
}
.hero_slider_icon:hover {
  opacity: 0.7;
  cursor: pointer;
}
.hero_slider {
  position: relative;
}
.hero_slider_left {
  left: var(--space-l);
}
.hero_slider_right {
  right: var(--space-l);
}
/* //////////////////////////////////////////////////////// */
.blog {
  display: flex;
  gap: var(--space-xxl);
  padding-bottom: var(--space-l);
  border-bottom: var(--border-bottom-top);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-l);
}
.card_img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.card_title {
  font-size: 32px;
  color: var(--title-color);
  font-weight: var(--font-w-500);
}
.card_text {
  color: var(--text-color);
  font-size: var(--text-size-m);
  font-weight: var(--font-w-400);
  line-height: 170%;
}
@layer secondary {
  .card_button {
    background-color: var(--color-primary);
    color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.5s;
  }
  .card_button:hover {
    background-color: var(--text-color);
    color: var(--color-primary);
  }
}

/* //////////////////////////////////////////////////////// */
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: var(--space-l);
}
.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
.form_title {
  font-size: 27px;
  font-weight: var(--font-w-500);
  color: #fff;
}
.form_info {
  color: #fff;
  font-size: var(--text-size-m);
  font-weight: var(--font-w-400);
}
.form_button {
  color: var(--text-color);
  background-color: #fff;
  min-width: 160px;
  width: 100%;
  text-align: center;
  transition-property: background-color, color, border;
  transition-duration: 0.5s;
}
.form_button:hover {
  color: #fff;
  background-color: var(--bg-color);
  border: 1px solid #fff;
}
/* //////////////////////////////////////////////////////// */
.footer {
  border-top: var(--border-bottom-top);
  padding: var(--space-l) 0;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-size: var(--text-size-s);
  color: var(--text-color);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--text-size-l);
  color: var(--title-color);
  display: block;
  margin-bottom: var(--space-l);
}
/* //////////////////////////////////////////////////////// */
.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media all and (601px <= width <= 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (width <= 600px) {
  .blog {
    grid-template-columns: repeat(1, 1fr);
  }
}

.form {
  gap: var(--space-l);
}
@media all and (width <= 600px) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form_info {
    max-width: 300px;
    width: 100%;
    line-height: 150%;
  }
  .form_content {
    align-items: center;
    text-align: center;
  }
}
/* //////////////////////////////////////////////////////// */
.hero_container {
  container-type: inline-size;
  container-name: hero;
}
@container hero (width < 960px) {
  .hero {
    text-align: center;
    flex-direction: column;
  }
}
/* //////////////////////////////////////////////////////// */

/* @layer style {
  .card_button {
    background-color: #563d7c;
  }
} */
/* layer допомагає нам писати стилі будь де, в будь якому місці коду і каскадність буде працювати по layer */

/* //////////////////////////////////////////////////////// */

.form_info {
  line-height: 1.5em;
}

/* .hero_title {
  font-size: 5cqw;
} */
