:root {
  --blue-button: #006eff;
  --dark-text: #000000d9;
}

.page {
  background-color: #fff;
  padding: 0 15px;
  background-image: url('../public/images/wallhaven-weq8y7.png');
  background-attachment: scroll;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding: 24px;
  border-bottom: 2px solid #dee2e6;
}

.logo {
  font-size: 17px;
}

.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  color: var(--blue-button);
  text-decoration: underline;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.nav_inline > .nav_link {
  display: inline;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}

.hero_title {
  font-size: 56px;
  color: #212529;
  font-weight: 500;
  text-align: center;
  margin-bottom: 12px;
  text-shadow: 0px 0px 10px var(--blue-button);
}
.hero_text {
  font-size: 20px;
  color: #212529;
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
}

.plans_card:not(:last-of-type) {
  margin-right: 24px;
}

.card {
  border: 2px double var(--blue-button);
  border-radius: 1px 20px;
  box-shadow: 0px 0px 10px 2px var(--blue-button);
}

.card:hover {
  /* outline: 5px solid blue;
  outline-offset: 5px; */
  box-shadow: 0px 0px 50px 2px #2b71e2a4;
  cursor: pointer;
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: 24px;
  color: #212529;
}

.card-body {
  padding: 24px;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: 24px;
}

.card_price_amount {
  font-size: 40px;
  color: #212529;
}

.card_price_duration {
  font-size: 29px;
  color: #6c757d;
}

.card_description {
  margin-bottom: 24px;
}

.card_description_text {
  font-size: 16px;
  color: #212529;
  display: list-item;
  list-style-position: inside;
  list-style-type: upper-roman;
}

.card_description_text:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.footer {
  border-top: 2px solid #dee2e6;
  padding: 24px 0;
}

.footer-copyright {
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: #212529;
  display: block;
  margin-bottom: 12px;
}

.caption {
  caption-side: top;
  font-size: calc(100% + 5px);
  font-weight: bold;
  text-transform: capitalize;
  text-decoration-line: underline;
  text-decoration-color: #6c757d;
}

.table {
  table-layout: auto;
  /* auto / fixed */
  width: 400px;

  border-collapse: unset;
  border-spacing: 5px 10px;

  margin-left: calc(50% - (600px / 2));
}

.table_row {
  empty-cells: show;
  /* hide */
}

.table_item {
  border: 1px solid #6c757d;

  font-size: calc(50% + 15px);
}

.table_item:hover {
  opacity: 50%;
  background-color: var(--blue-button);
  color: var(--dark-text);
}

.nav_link::before {
  content: open-quote;
}

.nav_link::after {
  content: close-quote;
}
