<section>
  <ol class='breadcrumb'>
    {{#each breadcrumb}}
      <li class='breadcrumb-item'>
        <a href='{{url}}' class='breadcrumb-link'>
          {{name}}
        </a>
      </li>
    {{/each}}
  </ol>
</section>