{{#with data}}
  <div class='news'>
    <strong class='news_title'>{{title}}</strong>
    <div class='news_info'>{{date}}<span
        class='news_author'
      >{{author}}</span></div>
    <p class='news_text'>
      {{description}}
    </p>
    <a href='#' class='news_link'>continue reading</a>
  </div>
{{/with}}