<footer> 
  {{#with footer}}
    <div>
      {{#with social}}
        {{> link href=email.href text=email.text blank=true }}
        {{> link href=phone.href text=phone.text blank=true }}
        {{> link href=linkedin.href text=linkedin.text blank=true noLine=true}}
      {{/with}}
    </div>
    <br>
    <div>
      <em>Copyright by {{../header.name.firstName}} {{../header.name.lastName}} </em>
    </div>
    <br>
    <div>
      <address>
        <em>
          {{../header.address}}
        </em>
      </address>
    </div>
  {{/with}}
  </footer>