<div class="mb-5">
  <nav class="nav nav-tabs">
    <div class="nav-item">
      {{> link href='/' text='Home' blank=false}}
    </div>
    <div class="nav-item">
      {{> link href='/summary' text='Summary' blank=false}}
    </div>
    <div class="nav-item">
      {{> link href='/skills' text='Skills' blank=false}}
    </div>
    <div class="nav-item">
      {{> link href="/education" text="Education" blank=false}}
    </div>
    <div class="nav-item">
      {{> link href="/work" text="Work" blank=false}}
    </div>
  </nav>
</div>