<footer>
  <div class='row'>
    {{#each footer}}
      <div class='col'>
        <div class="card border-light h-100 d-flex flex-column justify-content-between">
          {{#each this}}
            <a
              href='{{this.link}}'
              class='text-decoration-none m-2 {{#if @last}}nav-link disabled{{/if}}'>{{this.text}}</a>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</footer>