:root {
  --white: #fff;
  --black: #000;
  --bgc: #f4ede4;
  --primary: #611f69;
  --link: #1264a3;
  /* /////////////// */
  --page-w-xl: 1260px;
  --page-w-l: 1000px;
  --page-w-m: 700px;
  --page-w-s: 360px;
  /* /////////////// */
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 28px;
  --space-3xl: 32px;
  --space-4xl: 36px;
  --space-5xl: 40px;
  /* /////////////// */
  --size-1: 14px;
  --size-2: 18px;
  --size-3: 22px;
  /* /////////////// */
  /* /////////////// */
}
