:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-xxl: 36px;
  /* ///////////// */
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 20px;
  /* ///////////// */
  --border-color: #dee2e6;
  --title-color: #212529;
  --text-color: #343a40;
  --bg-color: #563d7c;
  --color-primary: #0066ff;
  --color-secondary: #6c757d;
  /* ///////////// */
  --font-w-500: 500;
  --font-w-400: 400;
  /* ///////////// */
  --border-radius: 12px;
  --border-bottom-top: 2px solid var(--border-color);
  /* ///////////// */
  --page-width: 960px;
  font-family: 'Roboto', mono;
  scroll-behavior: smooth;
}
